$PrimaryColor: #6449E7;
$SecondaryColor: #FA6742;
$LightFontColor: gray;
$LightIconColor: lightgray;

.li__container {
  margin: 25px auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 4px -3px black;
  display: grid;
  grid-template-columns: 40% 60%;
  transition: box-shadow 0.5s ease-in-out;
  &:hover {
    box-shadow: 0 0 20px -12px black;
  }
  .li__thumbnail {
    position: relative;
    &:hover {
      .li__thumb--img img {
        transform: scale(1.2);
      }
      .li__thumb--foot {
        opacity: 1;
      }
    }
    .li__thumb--img {
      width: 100%;
      overflow: hidden;
      img {
        width: 100%;
        vertical-align: bottom;
        transition: transform 2s ease-in-out;
      }
    }
    .li__thumb--feat {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px;
      ul {
        cursor: default;
        list-style-type: none;
        li {
          display: inline-block;
          margin: 0 5px;
          span {
            padding: 4px 6px;
            font-size: 0.85rem;
            border-radius: 2px;
            color: white;
            background-color: $SecondaryColor;
            &.badge--special {
              background-color: $PrimaryColor;
            }
          }
        }
      }
    }
    .li__thumb--foot {
      opacity: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to bottom, transparent, black);
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: opacity 0.5s ease-in-out;
      .li__thumbfoot--dealer {
        a {
          display: flex;
          align-items: center;
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
          span {
            margin-left: 7px;
            font-size: 0.9rem;
            font-weight: bold;
            color: white;
          }
        }
      }
      .li__thumbfoot--btns {
        ul {
          list-style-type: none;
          li {
            display: inline-block;
            margin: 0 7px;
            a {
              background-color: rgba($color: #000000, $alpha: 0.5);
              border-radius: 50%;
              padding: 7px;
              color: white;
              opacity: 0.65;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .li__details {
    padding: 50px 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    .li__details--1 {
      color: $LightFontColor;
      .li__details--header {
        fa-icon {
          color: $PrimaryColor;
        }
        .li__details--name {
          color: black;
          font-size: 1.25rem;
          font-weight: bold;
        }
        .li__details--location {
          font-size:0.875rem;
          padding: 10px 0;
          display: flex;
          align-items: center;
          fa-icon {
            font-size: 1.25rem;
            margin-right: 10px;
          }
        }
      }
      .li__details--information {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
        padding: 20px 0;
        color: black;
        font-size: 0.85rem;
        fa-icon {
          color: $LightIconColor;
          margin-right: 5px;
          font-size: 1rem;
        }
      }
      hr {
        border: none;
        border-top: 1px solid $LightIconColor;
      }
      .li__details--footer {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        .li__details--posted {
          fa-icon {
            color: $LightIconColor;
            margin-right: 5px;
          }
        }
        .li__details--rating {
          color: gold;
          ul {
            list-style-type: none;
            padding: 0;
            li {
              display: inline-block;
            }
          }
        }
      }
    }
    .li__details--2 {
      .li__details--price {
        text-align: right;
        font-size: 0.85rem;
        color: $LightFontColor;
        padding: 75px 0;
        strong {
          color: $PrimaryColor;
          font-size: 1.25rem;
          span {
            color: $LightFontColor;
          }
        }
      }
      .li__details--btn {
        text-align: right;
        button {
          cursor: pointer;
          background-color: $PrimaryColor;
          color: white;
          border: none;
          border-radius: 3px;
          font-size: 1rem;
          padding: 10px 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .li__container {
    grid-template-columns: 100%;
    max-width: 650px;
    .li__details {
      grid-template-columns: 100%;
      .li__details--2 .li__details--price {
        text-align: left;
        padding: 30px 0;
      }
    }
  }
}
